body {
    background-color:#EBEDEF;
}
*
{
    font-family:'Century Gothic';
    font-size:12px;
}
.top-twenty
{
    margin-top:20px;
}
.a-link{
    color:#fff;
    text-decoration:none;
}
.a-link:hover,.a-link:active{
    color:#fff;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.ellipsetext {
    overflow: hidden;
    text-overflow:ellipsis;
    width:150px;
    height:50px;
}

.top-menu{
    padding:5px;
    /*background-color:#6D7993;1*/
    background-color:#34495E;
    border-bottom:1px solid #001e80;
    box-sizing:border-box;
    color:#fff;
}

.content-start
{
    margin-top:10px;
    margin-bottom:20px;
}

.content-lable{
    text-align:right;
    font-size:11px;
    padding-bottom:5px;
}

.content-head
{
    border-radius:2px;
    padding:10px;
    background-color:#FFF;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin-bottom:10px;
}
.content-head  div{
    font-size:17px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content-data
{
    background-color:#FFF;
    border-radius:2px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin-bottom:20px;
    border-bottom:1px solid #e3e4e8;
}
.content-data-x {
    padding:10px;
}
.content-data-x .files a, i{
    cursor:pointer;
    font-size:14px;
}

.content-data div{
    font-size:14px;
}
.content-data div.head{
    font-size:18px;
    font-weight:bold;
    color:#566573;
    margin-bottom:3px;
}

.content-data-youtube
{
    background-color:#FFF;
    margin-bottom:20px;
    border-radius:2px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}
.content-data-youtube .video{
    margin:0px;
}


.content-data-youtube-text
{
    background-color:#FFF;
    padding:10px;
    border-radius:2px;
}
.content-data-youtube-text div{
    font-size:14px;
    /*white-space: nowrap;*/
    /*overflow: hidden;
    text-overflow: ellipsis;*/
}
.content-data-youtube-text div.head{
    font-size:18px;
    font-weight:bold;
    color:#566573;
    margin-bottom:3px;
}



/*Admins Style*/
.content-start-admin{
    padding-top:60px;
}

.login-middle
{
    width:450px;
    margin:0 auto;
    padding:20px;
    background-color:#FFF;
    border-radius:2px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    border-bottom:1px solid #e3e4e8;
}

.wedgrid-header
{
}
.webgrid-row-style {
        padding: 3px 7px 2px;
    }
     .webgrid-alternating-row {
        padding: 3px 7px 2px;
    }


.content-boxi
{
    background-color:#FFF;
    padding:5px;
    border-radius:2px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin-bottom:20px;
    border-bottom:1px solid #e3e4e8;
}
a.boxi{
    font-size:18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration:none;
}
/*Media for admin*/
@media all and (max-width: 480px) { 
.login-middle
{
    width:auto;
    margin:0 auto;
     padding:20px;
    background-color:#FFF;
    border-radius:2px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    border-bottom:1px solid #e3e4e8;
}
   
}
