@{
    ViewBag.Title = "Error";
}
<div class="container-start">
    <div class="row">
        <div class="col-md-12">
            <div class="content-data" style="margin-top:20px;">
                <div class="head">
                        Sorry, this page isn't available
                </div>
                <div>
                    The resource you are looking for has been removed, had its name changed, or is temporarily unavailable.
                </div>
                <div>
                    <ul>
                        <li>The directory or file specified does not exist on the Web server.</li>
                        <li>The URL contains a typographical error.</li>
                        <li>A custom filter or module, such as URLScan, restricts access to the file.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


