@{
    ViewBag.Title = "Index";
}
<div class="content-start">
    <div class="content-lable">
        <div class="btn btn-danger btn-xs">
            C# Sharp
        </div>
    </div>
    <div class="col-lg-12 content-head">
        <div>
            Title can be larger and larger Title can be larger and larger Title can be larger and larger Title can be larger and larger Title can be larger and larger Title can be larger and larger
        </div>
    </div>
    <div class="col-lg-12 content-data">
        <div class="head">
            Play Around This
        </div>
        <div>
            Information about this fanomeno
            Information about this fanomeno
            Information about this fanomeno
            Information about this fanomeno
            Information about this fanomeno
        </div>
        <div>
            Information about this fanomeno
            Information about this fanomeno
            Information about this fanomeno
            Information about this fanomeno
            Information about this fanomeno
        </div>
    </div>
    <div class="col-lg-12 content-data-youtube nopadding">
        <div class="row">
            <div class="col-lg-4">
                <div class="content-data-youtube-text">
                    <div class="head">
                        Understand this one through videos
                    </div>
                    <div>
                        Information about this fanomeno
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="videoWrapper">
                    <!-- Copy & Pasted from YouTube -->
                    <iframe width="560" height="349" src="http://www.youtube.com/embed/n_dZNLr2cME?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-12 content-data" style="margin-top:20px;">
        <div class="text-center">
            <a class="btn btn-website btn-xs">
                WEBSITE
            </a>
            <a class="btn btn-website btn-xs">
                ABOUT ME
            </a>
            <a class="btn btn-website btn-xs">
                CONTACT ME
            </a>
            <a class="btn btn-website btn-xs">
                YOUTUBE VIDEOS
            </a>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {

        });
    </script>
}