@{
    ViewBag.Title = "Index";
}
<div class="content-start">
    <div class="content-lable">
        <div class="btn btn-danger btn-xs">
            C# Sharp
        </div>
    </div>
    <div class="col-lg-12 content-head">
        <div>
            Title can be larger and larger Title can be larger and larger Title can be larger and larger Title can be larger and larger Title can be larger and larger Title can be larger and larger
        </div>
    </div>
    <div class="col-lg-12 content-data">
        <div class="row">
            <div class="col-lg-12 content-data-x">
                <div class="head">
                    Play Around This
                </div>
                <div>
                    Information about this fanomeno
                    Information about this fanomeno
                    Information about this fanomeno
                    Information about this fanomeno
                    Information about this fanomeno
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12 content-data-youtube">
        <div class="row">
            <div class="col-lg-4 content-data-youtube-text">
                <div class="head">
                    Understand this one through videos
                </div>
                <div>
                    Information about this fanomeno
                </div>
            </div>
            <div class="col-lg-8 nopadding">
                <div class="videoWrapper">
                    <iframe width="640" height="360" src="http://www.youtube.com/embed/n_dZNLr2cME?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

        </div>
    </div>

    <div class="col-lg-12 content-data">
        <div class="row">
            <div class="col-lg-12 content-data-x">
                <div class="head">
                    File About
                </div>
                <div>
                    Classical void you are
                </div>
            </div>
            <div class="col-lg-12 content-data-x bg-warning" style="border-top:1px solid #D1D1D1;">
                <div class="files btn-link" style="text-align:center;">
                    <a href="#">
                        <i class="glyphicon glyphicon-download"></i> Download
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12 content-data">
        <div class="row">
            <div class="col-lg-12 content-data-x">
                <div class="head">
                    Check out below website link
                </div>
                <div>
                    How this website of ui is working you can check using below link
                </div>
            </div>
            <div class="col-lg-12 content-data-x bg-info" style="border-top:1px solid #D1D1D1;">
                <div class="files btn-link" style="text-align:center;">
                    <a href="#" target="_blank">
                        <i class="glyphicon glyphicon-globe"></i> Want to visit?
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12 content-data">
        <div class="row">
            <div class="content-data-x">
                <div class="text-center">
                    <a class="btn btn-website btn-xs">
                        WEBSITE
                    </a>
                    <a class="btn btn-website btn-xs">
                        ABOUT ME
                    </a>
                    <a class="btn btn-website btn-xs">
                        CONTACT ME
                    </a>
                    <a class="btn btn-website btn-xs">
                        YOUTUBE VIDEOS
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts
{
    <script>
        $(document).ready(function () {

        });
    </script>
}